<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StfAddStaffController</servlet-name>
        <servlet-class>Controller.StfAddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewStaffListController</servlet-name>
        <servlet-class>Controller.DirViewStaffListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfViewInquiryFormController</servlet-name>
        <servlet-class>Controller.StfViewInquiryFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfViewStaffRegistrationForm</servlet-name>
        <servlet-class>Controller.StfViewStaffRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfLoginController</servlet-name>
        <servlet-class>Controller.StfLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfCheckLoginController</servlet-name>
        <servlet-class>Controller.StfCheckLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfViewDashboardController</servlet-name>
        <servlet-class>Controller.StfViewDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllLogoutController</servlet-name>
        <servlet-class>Controller.AllLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfAddInquiryFormDetailController</servlet-name>
        <servlet-class>Controller.StfAddInquiryFormDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfViewStudentInquiryListController</servlet-name>
        <servlet-class>Controller.StfViewStudentInquiryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfEditInquiryFormDetailController</servlet-name>
        <servlet-class>Controller.StfEditInquiryFormDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfUpdateStudentDetailController</servlet-name>
        <servlet-class>Controller.StfUpdateStudentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfDeleteStudentInquiryData</servlet-name>
        <servlet-class>Controller.StfDeleteStudentInquiryData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirAddPanelHeadController</servlet-name>
        <servlet-class>Controller.DirAddPanelHeadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirAddStaffToPanelHead</servlet-name>
        <servlet-class>Controller.DirAddStaffToPanelHead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewStaffMemberList</servlet-name>
        <servlet-class>Controller.DirViewStaffMemberList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StfColumnChartServlet</servlet-name>
        <servlet-class>Controller.StfColumnChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewPanelHeadList</servlet-name>
        <servlet-class>Controller.DirViewPanelHeadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirDeletePanelHead</servlet-name>
        <servlet-class>Controller.DirDeletePanelHead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phCheckLoginController</servlet-name>
        <servlet-class>Controller.phCheckLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phViewDashboardController</servlet-name>
        <servlet-class>Controller.phViewDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phLoginController</servlet-name>
        <servlet-class>Controller.phLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phMemberListController</servlet-name>
        <servlet-class>Controller.phMemberListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phStudentListController</servlet-name>
        <servlet-class>Controller.phStudentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewLogin</servlet-name>
        <servlet-class>Controller.DirViewLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirCheckLoginController</servlet-name>
        <servlet-class>Controller.DirCheckLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewDashboard</servlet-name>
        <servlet-class>Controller.DirViewDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirPieChartServlet</servlet-name>
        <servlet-class>Controller.DirPieChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewReport</servlet-name>
        <servlet-class>Controller.DirViewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirTaskAssignController</servlet-name>
        <servlet-class>Controller.DirTaskAssignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirAddTaskAssignController</servlet-name>
        <servlet-class>Controller.DirAddTaskAssignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewMembersofPanelController</servlet-name>
        <servlet-class>Controller.DirViewMembersofPanelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirDeleteMemberFromPanel</servlet-name>
        <servlet-class>Controller.DirDeleteMemberFromPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewStudentList</servlet-name>
        <servlet-class>Controller.DirViewStudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewStudentDetail</servlet-name>
        <servlet-class>Controller.DirViewStudentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirDeleteStudentInquiryData</servlet-name>
        <servlet-class>Controller.DirDeleteStudentInquiryData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirViewStaffDetail</servlet-name>
        <servlet-class>Controller.DirViewStaffDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirDeleteStaffData</servlet-name>
        <servlet-class>Controller.DirDeleteStaffData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phChangeProfileController</servlet-name>
        <servlet-class>Controller.phChangeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phChangePwdController</servlet-name>
        <servlet-class>Controller.phChangePwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phViewChangePwdController</servlet-name>
        <servlet-class>Controller.phViewChangePwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phViewProfileController</servlet-name>
        <servlet-class>Controller.phViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stfChangeProfileController</servlet-name>
        <servlet-class>Controller.stfChangeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stfChangePwdController</servlet-name>
        <servlet-class>Controller.stfChangePwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stfViewChangePwdController</servlet-name>
        <servlet-class>Controller.stfViewChangePwdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stfViewProfileController</servlet-name>
        <servlet-class>Controller.stfViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsReportServlet</servlet-name>
        <servlet-class>Controller.ChartsReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhPieChartServlet</servlet-name>
        <servlet-class>Controller.PhPieChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffColumnChartServlet</servlet-name>
        <servlet-class>Controller.StaffColumnChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhReportController</servlet-name>
        <servlet-class>Controller.PhReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhAllReport</servlet-name>
        <servlet-class>Controller.PhAllReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phViewInquiryFormController</servlet-name>
        <servlet-class>Controller.phViewInquiryFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phAddInquiryFormDetailController</servlet-name>
        <servlet-class>Controller.phAddInquiryFormDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phEditInquiryFormDetailController</servlet-name>
        <servlet-class>Controller.phEditInquiryFormDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phUpdateStudentDetailController</servlet-name>
        <servlet-class>Controller.phUpdateStudentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phDeleteStudentInquiryData</servlet-name>
        <servlet-class>Controller.phDeleteStudentInquiryData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfReportServlet</servlet-name>
        <servlet-class>Controller.PdfReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Controller.SendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StfAddStaffController</servlet-name>
        <url-pattern>/StfAddStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewStaffListController</servlet-name>
        <url-pattern>/DirViewStaffListController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>StfLoginController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DirDatabaseBackup</servlet-name>
        <servlet-class>Controller.DirDatabaseBackup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StfViewInquiryFormController</servlet-name>
        <url-pattern>/StfViewInquiryFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfViewStaffRegistrationForm</servlet-name>
        <url-pattern>/StfViewStaffRegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirDatabaseBackup</servlet-name>
        <url-pattern>/DirDatabaseBackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfLoginController</servlet-name>
        <url-pattern>/StfLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfCheckLoginController</servlet-name>
        <url-pattern>/StfCheckLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfViewDashboardController</servlet-name>
        <url-pattern>/StfViewDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllLogoutController</servlet-name>
        <url-pattern>/AllLogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfAddInquiryFormDetailController</servlet-name>
        <url-pattern>/StfAddInquiryFormDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfViewStudentInquiryListController</servlet-name>
        <url-pattern>/StfViewStudentInquiryListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfEditInquiryFormDetailController</servlet-name>
        <url-pattern>/StfEditInquiryFormDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfUpdateStudentDetailController</servlet-name>
        <url-pattern>/StfUpdateStudentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfDeleteStudentInquiryData</servlet-name>
        <url-pattern>/StfDeleteStudentInquiryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirAddPanelHeadController</servlet-name>
        <url-pattern>/DirAddPanelHeadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirAddStaffToPanelHead</servlet-name>
        <url-pattern>/DirAddStaffToPanelHead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewStaffMemberList</servlet-name>
        <url-pattern>/DirViewStaffMemberList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StfColumnChartServlet</servlet-name>
        <url-pattern>/StfColumnChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewPanelHeadList</servlet-name>
        <url-pattern>/DirViewPanelHeadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirDeletePanelHead</servlet-name>
        <url-pattern>/DirDeletePanelHead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phCheckLoginController</servlet-name>
        <url-pattern>/phCheckLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phViewDashboardController</servlet-name>
        <url-pattern>/phViewDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phLoginController</servlet-name>
        <url-pattern>/phLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phMemberListController</servlet-name>
        <url-pattern>/phMemberListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phStudentListController</servlet-name>
        <url-pattern>/phStudentListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewLogin</servlet-name>
        <url-pattern>/DirViewLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirCheckLoginController</servlet-name>
        <url-pattern>/DirCheckLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewDashboard</servlet-name>
        <url-pattern>/DirViewDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirPieChartServlet</servlet-name>
        <url-pattern>/DirPieChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewReport</servlet-name>
        <url-pattern>/DirViewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirTaskAssignController</servlet-name>
        <url-pattern>/DirTaskAssignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirAddTaskAssignController</servlet-name>
        <url-pattern>/DirAddTaskAssignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewMembersofPanelController</servlet-name>
        <url-pattern>/DirViewMembersofPanelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirDeleteMemberFromPanel</servlet-name>
        <url-pattern>/DirDeleteMemberFromPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewStudentList</servlet-name>
        <url-pattern>/DirViewStudentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewStudentDetail</servlet-name>
        <url-pattern>/DirViewStudentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirDeleteStudentInquiryData</servlet-name>
        <url-pattern>/DirDeleteStudentInquiryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirViewStaffDetail</servlet-name>
        <url-pattern>/DirViewStaffDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirDeleteStaffData</servlet-name>
        <url-pattern>/DirDeleteStaffData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phChangeProfileController</servlet-name>
        <url-pattern>/phChangeProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phChangePwdController</servlet-name>
        <url-pattern>/phChangePwdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phViewChangePwdController</servlet-name>
        <url-pattern>/phViewChangePwdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phViewProfileController</servlet-name>
        <url-pattern>/phViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stfChangeProfileController</servlet-name>
        <url-pattern>/stfChangeProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stfChangePwdController</servlet-name>
        <url-pattern>/stfChangePwdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stfViewChangePwdController</servlet-name>
        <url-pattern>/stfViewChangePwdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stfViewProfileController</servlet-name>
        <url-pattern>/stfViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsReportServlet</servlet-name>
        <url-pattern>/ChartsReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhPieChartServlet</servlet-name>
        <url-pattern>/PhPieChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffColumnChartServlet</servlet-name>
        <url-pattern>/StaffColumnChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhReportController</servlet-name>
        <url-pattern>/PhReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhAllReport</servlet-name>
        <url-pattern>/PhAllReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phViewInquiryFormController</servlet-name>
        <url-pattern>/phViewInquiryFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phAddInquiryFormDetailController</servlet-name>
        <url-pattern>/phAddInquiryFormDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phEditInquiryFormDetailController</servlet-name>
        <url-pattern>/phEditInquiryFormDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phUpdateStudentDetailController</servlet-name>
        <url-pattern>/phUpdateStudentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phDeleteStudentInquiryData</servlet-name>
        <url-pattern>/phDeleteStudentInquiryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfReportServlet</servlet-name>
        <url-pattern>/PdfReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
